<footer>
  <div class="c-footer">
    <div class="l-container">
      <div class="l-row">
        <div class="l-col-xs-13 l-col-sm-18 l-col-sm-offset-1">
          <div class="l-row">
            <div class="c-footer__column l-col-xs-26 l-col-sm-spread">
              <h4>Explore</h4>
              <ul class="c-footer__links">
                <li><%= link_to "Courses", "#", class: "u-text-normal" %></li>
                <li><%= link_to "For Business", "#", class: "u-text-normal" %></li>
                <li><%= link_to "Teach on Envisage", "#", class: "u-text-normal" %></li>
              </ul>
            </div>
            <div class="c-footer__column l-col-xs-26 l-col-sm-spread">
              <h4>Company</h4>
              <ul class="c-footer__links">
                <li><%= link_to "Mobile Apps", "#", class: "u-text-normal" %></li>
                <li><%= link_to "Privacy Policy", "#", class: "u-text-normal", target: "_blank" %></li>
                <li><%= link_to "Contact", "#", class: "u-text-normal" %></li>
              </ul>
            </div>
            <div class="c-footer__column l-col-xs-26 l-col-sm-spread">
              <h4>Social</h4>
              <ul class="c-footer__links">
                <li><%= link_to "Facebook", "#", target: "_blank", class: "u-text-normal" %></li>
                <li><%= link_to "LinkedIn", "#", target: "_blank", class: "u-text-normal" %></li>
                <li><%= link_to "Twitter", "#", target: "_blank", class: "u-text-normal" %></li>
                <li><%= link_to "Medium", "#", target: "_blank", class: "u-text-normal" %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="c-footer__column l-col-xs-13 l-col-sm-6">
          <h4>Support</h4>
          <ul class="c-footer__links">
            <li><%= link_to "Chat with Us", "#", class: "u-text-normal", target: "_blank" %></li>
            <li><%= link_to "Help Center", "#", class: "u-text-normal", target: "_blank" %></li>
            <li><%= link_to "Business Partnership", "#", class: "u-text-normal", target: "_blank" %></li>
            <li><%= link_to "Book a Demo", "#", class: "u-text-normal", target: "_blank" %></li>
          </ul>
        </div>
      </div>
      <div class="l-row u-mt-xl">
        <div class="l-col-xs-26 u-text-center">
          <h4>© <%= Time.now.year %>, Envisage</h4>
          <ul>
            <li>Korsgatan 20, 411 16,</li>
            <li>Gothenburg, Sweden</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
